html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.container {
  flex: 1;
}

/* Haut de page */

#header {
  background-color: #660099;
  padding: 1%;
  display: flex;
}

header img.logo {
  max-height: 5rem;
  aspect-ratio: auto;
}

.navbar {
  margin-left: auto;
}

.navbar .nav-link,
.navbar .nav-link.active {
  color: white;
}

/* Bas de page */

#footer {
  background-color: #1F63DE;
}

#footer p {
  color: white;
}

#footer .social_media a {
  color: white;
}

#footer .social_media a:hover {
  color: #660099;
}

#footer .logo {
  max-width: 20%;
}

/* Texte */
h2 {
  font-size: 2.5em;
  color: #660099;
  margin-bottom: 20px;
}

section p {
  line-height: 1.6;
  text-align: justify;
}

/* Carrousel */
#carouselExampleIndicators {
  border-radius: 12px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  position: relative;
}

.carousel img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* Cards */
.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card p {
  text-indent: 30px;
  word-spacing: -2px;
  hyphens: auto;
}

.card-title {
  color: #660099;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1.1em;
  line-height: 1.6;
}

.card:hover {
  transform: translateY(-5px) scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* Section Contact */

.contact {
  text-align: center;
}

.contact img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact .card {
  padding: 2%;
}

.contact .link_icon {
  font-size: 1em;
  margin: 0 10px;
}

@media (max-width: 900px) {
  #header {
    flex-direction: column;
  }

  #header .logo {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar {
    margin-left: auto;
    margin-right: auto;
  }
}